<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.smallc.footballcollection.repository.ITeamRepository">

    <insert id="insertTeam" parameterType="Team">
        <selectKey resultType="Integer" order="AFTER" keyProperty="ID">
            SELECT LAST_INSERT_ID();
        </selectKey>
        INSERT INTO tb_team (teamName_C,teamName_E,nickName_C,nickName_E,countryName,teamType)
        VALUES (#{teamName_C},#{teamName_E},#{nickName_C},#{nickName_E},#{countryName},#{teamType});
    </insert>

    <select id="findByTeamName_C" parameterType="String" resultType="Team">
        SELECT * FROM tb_team WHERE teamName_C = #{teamName_C}
    </select>

    <select id="findByNickName_C" parameterType="String" resultType="Team">
        SELECT * FROM tb_team WHERE teamName_C = #{nickName_C}
    </select>

    <update id="update" parameterType="Team">
        UPDATE tb_team SET
        teamName_C = #{teamName_C},teamName_E=#{teamName_E},nickName_C=#{nickName_C},nickName_E=#{nickName_E},countryName=#{countryName},teamType=#{teamType}
        WHERE ID = #{ID}
    </update>


    <insert id="insertLeagueTypeRelation" parameterType="HashMap">
        INSERT INTO re_league_team (teamID,leagueID)
        VALUES (#{teamID},#{leagueID})

    </insert>

    <!--<select id="findByTeamName_C" parameterType="String" resultType="">-->

    <!--</select>-->
    
    

</mapper>