<?xml version="1.0" encoding="UTF-8"?>
<!-- status="OFF"，可以去掉，它的含义为是否记录log4j2本身的event信息，默认是OFF -->
<configuration status="OFF">
	<!-- 定义下面的引用名 -->
	<Properties>
		<!-- <property name="log_pattern"> %d %-5p [%c] %m%n</property> <property
			name="log_pattern_info">%m%n</property> -->
		<!-- <property name="log4j2Filename"></property> -->
		<!--<property name="basePath">/data/mycrawlerruntimelogs/</property>-->
		<property name="basePath">d:/log/</property>

		<property name="MainSiteV3_fatal">${basePath}/${sys:log4j2Filename}_fatal.log
		</property>
		<property name="rollingfile_MainSiteV3_fatal">${basePath}/${sys:log4j2Filename}%d{yyyy-MM-dd}_fatal.log
		</property>
		<property name="MainSiteV3_info">${basePath}/${sys:log4j2Filename}_info.log
		</property>
		<property name="rollingfile_MainSiteV3_info">${basePath}/${sys:log4j2Filename}%d{yyyy-MM-dd}_info.log
		</property>
		<property name="MainSiteV3_debug">${basePath}/${sys:log4j2Filename}_debug.log
		</property>
		<property name="rollingfile_MainSiteV3_debug">${basePath}/${sys:log4j2Filename}%d{yyyy-MM-dd}_debug.log
		</property>

		<property name="extractor_error_file">${basePath}/extractor_${sys:log4j2Filename}_$${date:yyyy-MM-dd}.log
		</property>

	</Properties>
	<!--先定义所有的appender -->
	<appenders>
		<!--输出控制台的配置 -->

		<!--打印出所有的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档 -->
		<!-- 按月生成归档日志，可以使用 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log" -->

		<RollingFile name="rollingfile_MainSiteV3_fatal" filename="${MainSiteV3_fatal}"
					 filePattern="${rollingfile_MainSiteV3_fatal}" append="true">
			<ThresholdFilter level="fatal" onMatch="ACCEPT"
							 onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>


		<RollingFile name="rollingfile_MainSiteV3_info" filename="${MainSiteV3_info}"
					 filePattern="${rollingfile_MainSiteV3_info}" append="true">
			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY"
								 onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
								 onMismatch="DENY" />
			</Filters>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

		<RollingFile name="rollingfile_MainSiteV3_debug" filename="${MainSiteV3_debug}"
					 filePattern="${rollingfile_MainSiteV3_debug}" append="true">
			<Filters>
				<ThresholdFilter level="info" onMatch="DENY"
								 onMismatch="NEUTRAL" />
				<ThresholdFilter level="debug" onMatch="ACCEPT"
								 onMismatch="NEUTRAL" />
			</Filters>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>


		<File name="extractor_error" filename="${extractor_error_file}"
			  append="true">
			<ThresholdFilter level="info" onMatch="ACCEPT"
							 onMismatch="DENY" />
		</File>

	</appenders>
	<!--然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
	<loggers>

		<!-- 根据类名MainSite_500进行输出，注意修改类名 -->
		<!--<AsyncLogger name="cn.smallc.footballcollection.main.MainSite_500"-->
					 <!--additivity="false" level="ALL">-->
			<!--<AppenderRef ref="rollingfile_MainSiteV3_fatal" level="fatal" />-->
			<!--<AppenderRef ref="rollingfile_MainSiteV3_info" level="info" />-->
			<!--<AppenderRef ref="rollingfile_MainSiteV3_debug" level="debug" />-->
		<!--</AsyncLogger>-->

		<!-- 根据类名MainSite_500进行输出，注意修改类名 -->
		<logger name="cn.smallc.footballcollection.extractor.tag.TeamDeal"
					 additivity="false" level="ALL">
			<AppenderRef ref="rollingfile_MainSiteV3_fatal" level="fatal" />
			<AppenderRef ref="rollingfile_MainSiteV3_info" level="info" />
			<AppenderRef ref="rollingfile_MainSiteV3_debug" level="debug" />
		</logger>

		<logger name="cn.smallc.footballcollection.FootballCollectionApplication"
					 additivity="false" level="ALL">
			<AppenderRef ref="rollingfile_MainSiteV3_fatal" level="fatal" />
			<AppenderRef ref="rollingfile_MainSiteV3_info" level="info" />
			<AppenderRef ref="rollingfile_MainSiteV3_debug" level="debug" />
		</logger>


	</loggers>
</configuration>
